@import "tailwindcss";

/* Matikan pengaturan bawaan dark mode dari root browser sepenuhnya */
:root {
  color-scheme: light;
}

body {
  /* Memaksa background putih dan tulisan hitam tegas */
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-black antialiased;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
  body {
    width: 210mm;
    height: 297mm;
  }
}

/* Hapus segala referensi warna auto bawaan Next.js Tailwind v4 */
